.principal h1 {
  text-align: center;
}

.seccion-datosfac, .seccion_clientes_fac {
  background-color: #f2f2f2;
  padding: 20px;
  border: 3px solid #ccc;
  margin-top: 20px;
  border-radius: 10px;
}

.datos-factura, .datos-empresa {
  padding: 10px;
}

.datos-factura label, .datos-empresa label, .seccion_clientes_fac label {
  font-weight: bold;
}

.seccion_clientes_fac input {
  max-width: max-content;
}

.seccion_clientes_fac h2 {
  text-align: center;
}

.total-box {
  width: 60%; /* Ajustar el ancho del cuadro de total */
  margin: 0 auto; /* Centrar el cuadro horizontalmente */
}

.total-header, .total-value {
  font-size: 1.8em; /* Ajustar el tamaño del texto */
font-weight: bold;
}

.seccion-productos {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start; /* Alinea el contenido al inicio del contenedor */
  background-color: #f2f2f2;
  padding: 20px;
  border: 3px solid #ccc;
  margin-top: 20px;
  border-radius: 10px;
}

.seccion-productos h2 {
  width: 100%;
  text-align: center; /* Centra el texto horizontalmente */
}

.seccion-productos > div {
  margin-right: 10px; /* Espacio entre los inputs */
}

.input-cod {
  width: 150px;
  border-radius: 5px;
}

.input-des {
  width: 400px;
  border-radius: 5px;
}

.input-can {
  width: 80px;
  border-radius: 5px;
}

.input-pre {
  width: 100px;
  border-radius: 5px;
}

.seccion-productos-facturados{
  background-color: #f2f2f2;
  padding: 20px;
  border: 3px solid #ccc;
  margin-top: 20px;
  border-radius: 10px;
}

.seccion-productos-facturados h2{
  text-align: center;
}


table {
  width: 100%;
  border-collapse: collapse; /* Combina los bordes de las celdas */
  border-spacing: 0.5rem; /* Espacio entre las celdas */
}

td, th {
  padding: 0.5rem; /* Añade espacio interno a las celdas */
  min-width: 100px; /* Ancho mínimo de las celdas */
  text-align: left; /* Alineación del texto */
  border: 1px solid #ddd; /* Borde de las celdas */
}

.principal h2 {
  font-size: 1.5em; /* Reducir el tamaño de la fuente para los encabezados */
}

/* Reducir el tamaño de la fuente para las etiquetas */
.seccion-datosfac label,
.seccion_clientes_fac label,
.datos-factura label,
.datos-empresa label,
.seccion-productos label,
.seccion-productos-facturados label {
  font-size: 0.9em;
}

/* Reducir el ancho de algunos elementos */
.input-cod {
  width: 120px; /* Reducir el ancho del campo de entrada de código */
}

.input-des {
  width: 300px; /* Reducir el ancho del campo de entrada de descripción */
}

.input-can,
.input-pre {
  width: 70px; /* Reducir el ancho de los campos de cantidad y precio */
}

/* Reducir el margen entre los elementos y secciones */
.seccion-datosfac,
.seccion_clientes_fac,
.seccion-productos,
.seccion-botones,
.seccion-productos-facturados {
  margin-top: 10px; /* Reducir el margen superior */
  padding: 10px; /* Reducir el relleno */
}

/* Hacer la tabla más compacta */
table {
  border-spacing: 0; /* Eliminar el espacio entre las celdas */
}

td, th {
  padding: 0.3em 0.5em; /* Reducir el espacio interno de las celdas */
}

.seccion-botones{
  background-color: #f2f2f2;
  padding: 20px;
  border: 3px solid #ccc;
  margin-top: 20px;
  border-radius: 10px;
}

.seccion-botones button{
  margin-right: 10px;
  width: 140px;
}

/* estilos abrir y cerrar caja */
.modal-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.modal-header-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.modal-date {
  margin-top: 10px;
}

.form-control {
  width: auto; /* Ajusta el tamaño al contenido */
}

